* {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
}
.Title {

    font-size: 88px;
    font-weight: 500;
    line-height: 123px;
    text-align: left;
}
.title_name {
    list-style: none;
    background: none;
    text-decoration: none;
    color: white;
}

.header {
    width: 1440px;
    height: 80px;
    border-bottom: 1px solid #EBE8F4;
    display: flex;
    flex-direction: row;
    background-color: white;
}
.header_name {
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    margin-top: 29px;
    margin-left: 30px;
}
.header_title_name {
    list-style: none;
    text-decoration: none;
    color: black;
}
.header_nav {
display: flex;
    flex-direction: row;
}
.header_menu {
    display: flex;
    flex-direction: row;
}
.header_menu_ul {
    display: flex;
    flex-direction: row;
    width: 759px;
    height: 22px;
    margin-top: 29px;
    margin-left: 297px;
    list-style: none;
}
.menu_link {
    height: 22px;
    margin-left: 44px;
}
.menu_list {
    text-decoration: none;
    list-style: none;
    font-size: 16px;
    color: #726E8D;
;
}
.container_icon {
    margin-top: 30px;
    margin-left: 170px;
}
.page_section {
    width: 1440px;
    height: 223px;
    background-color: white;
}
.page_name {
    font-size: 36px;
    font-weight: 400;
    line-height: 50px;
    text-align: center;
    padding-top: 80px;
}
{
.page_menu {
     display: flex;
    flex-direction: row;
}
}
.page_left_lists {
    display: flex;
    flex-direction: row;
    padding-top: 25px;
}
.page_list {
    text-decoration: none;
    list-style: none;
    margin-left: 70px;

}
.page_link {
    text-decoration: none;
    list-style: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #2A254B;
}
.page_right_lists {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    justify-content: flex-end;
    margin-right: 150px;
    margin-top: -12px;
}
.page_control {
    background: white;
    border: none;
}
.page_right_text {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    margin-right: 20px;
}
.main_card {
    width: 1440px;
    height: 510px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: none;
}
.main_link {
    text-decoration: none;
    background: none;
}
.card_title, .card_text {
    color: #2A254B;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    margin-top: 24px;
}
.main_card_last {
    width: 1440px;
    height: 640px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 550px );
    border: none;
}
.last_button {
    width: 175px;
    height: 56px;
    top: 538px;
    padding: 16px 32px 16px 32px;
    text-align: center;
    grid-column-start: span;
}
.main_email_sign {
    width: 1440px;
    height: 521px;
    top: 1107px;
    left: -43px;
    background-color: white;
    display: flex;
    flex-direction: row;
}
.room_img_main {
    width: 720px;
    height: 521px;
}
.main_email_title {
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 400;
    line-height: 39px;
    text-align: left;
    margin-top: 71px;
    margin-left: 49px;
    margin-bottom: 21px;
}
.main_email_text {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-left: 49px;
    width: 470px;
    height: 48px;
}
.last_button_right {
    margin-top: 217px;
    margin-left: 50px;
    width: 120px;
    height: 56px;
    padding: 16px 32px 16px 32px;
    color: white;
    background-color: #2A254B;
}
.footer {
    width: 1440px;
    height: 380px;
    top: 1628px;
    left: -43px;
    background-color: #2A254B;
    display: flex;
    flex-direction: row;
}
.footer_nav_menu {
    width: 117px;
    height: 175px;
    margin-left: 82px;
    padding-top: 58px;
}


.footer_left_text {
    color: white;
    background: none;
    text-decoration: none;
    margin-bottom: 12px;
}
.footer_left_list {
    background: none;
    text-decoration: none;
    list-style: none;
}
.footer_center_menu {
    width: 86px;
    height: 206px;
    margin-top: 30px;
    margin-left: 100px;
}

.footer_center_text {
    color: white;
    background: none;
    text-decoration: none;
    margin-bottom: 12px;
}
.footer_center_list {
    background: none;
    text-decoration: none;
    list-style: none;
}
.footer_right_menu {
    width: 111px;
    height: 175px;
    margin-top: 30px;
    margin-left: 131px;
}

.footer_right_text {
    background: none;
    text-decoration: none;
    margin-bottom: 12px;
    color: #FFFFFF;
}
.footer_right_list {
    background: none;
    text-decoration: none;
    list-style: none;
}
.gps_footer {
    width: 642px;
    height: 170px;
    margin-top: 50px;
    margin-left: 162px;
    background-image: url("gps.png");
}
.end_content {
    width: 1440px;
    height: 70px;
    background-color: #2A254B;
    border-top: 312px;
    border-left: 80px;
}
.footer_links {
    width: 1277px;
    height: 1px;
    border-top: 312px;
    border-left: 80px;
    border: 1px solid #4E4D93;
    margin-left: 80px
}
.footer_links_text {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    margin-left: 5px;
    margin-top: 24px;
    color: white;
}
.footer_icons {
    width: 330px;
    height: 24px;
    margin-top: -25px;
    margin-left: 845px;
    background-color: #2A254B;
}
.linkedin_logo {
    color: white;
    margin-left: 24px;
    width: 24px;
    height: 24px;
}